*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.logo h2{
  font-size: 45px;
  font-weight: 800;
  
}
.color-orange{
  color: #fd6e0a;
}

.btn{
    background-color: #fd6e0a;
    border: none;
    padding: 18px 35px;
    border-radius: 5px ;
    font-size: 20px;
    font-weight: bold;

    color:white;
     
    
}

header{
  background-color: #fff8f3;
  padding-top: 50px ;
}
nav{
  width: 96%;
  max-width: 1536px;
  margin: 0px auto ;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
    

}
nav .menu{
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
  
}

nav .menu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  align-items: center;
  
}
